{% extends 'base.html' %}


{% block pagecontent %} {% if latest_post_list %}
<div class="post-card auto-center">
    {% for post in latest_post_list %}
    <div class="card fixed block">
        <h2>{{ post.title }}</h2>
        <hr/>
        <p>{{ post.description }}</p>
        <div class="flex justify-end">

          <a class="accent block" href="{% url 'detailpost'  post.id %}">Open Post!</a>
        </div>
    </div>
    {% endfor %}
  {% else %}
  <p>No post are available.</p>
</div>
  {% endif %} {% endblock %}


